<template>
  <div id="app">
    <Navbar/>
    <b-container fluid>
      <Infomacoes/>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Infomacoes from '@/components/Infomacoes.vue';

export default {
  name: "Home",
  components: {
    Navbar,
    Infomacoes,
  },
  methods: {
  }
}
</script>

<style>
@import '../assets/styles/_bootstrap.scss';

@media (max-width: 979px) {
  .filters {
    display: none;
  }
}
</style>
