<template>
  <div>
    <Navbar/>
  </div>
</template>

<script>
import usuarioService from "@/services/UsuarioService.js";


export default {
  name: "Inicio",
  data() {
    return {
      loading: true
    };
  },
  methods: {
    validateInicio() {
      usuarioService
        .getCurrentUsuario()
        .then(() => {
          this.loading = false;
        })
        .catch(err => {
          if (err.response.status == 401) {
            this.$router.push({ name: "login" });
          }
        });
    }
  }
};
</script>

<style lang="css" scoped>
</style>
