<template>
  <div>
    <Navbar/>
    <b-container>
        <div class="login d-flex justify-content-center">
            <b-card no-body class="my-5 w-75">
              <b-tabs content-class="mt-3" card lazy v-model="tabIndex">
                <b-tab title="Entrar">
                  <div class="mx-4 login">
                    <span>Dados Pessoais</span>
                    <b-row class="mt-2">
                      <b-col sm="3">
                        <label for="input-small">E-mail</label>
                      </b-col>
                      <b-col sm="10" class="m-0">
                        <b-form-input id="input-small" size="sm" placeholder="exemplo@email.com.br" v-model="emailLogin"></b-form-input>
                      </b-col>
                    </b-row>

                    <b-row class="mt-2">
                      <b-col sm="3">
                        <label for="input-small">Password</label>
                      </b-col>
                      <b-col sm="10">
                        <b-form-input
                        id="input-small"
                        size="sm"
                        placeholder="Digite seu password"
                        v-model="passwordLogin"
                        type="password"
                        >
                      </b-form-input>
                      </b-col>
                    </b-row>
                    <b-row class="mt-3">
                      <b-col class="justify-content-center">
                        <div v-if="mensagem">
                          <!-- <b-button type="hidden" @click="tryLogin" id="popover-button-open" variant="primary">Entrar</b-button> -->
                          <b-button variant="outline-primary" id="popover-button-open" @click="tryLogin">Entrar</b-button>
                          <b-popover show target="popover-button-open" title="Credenciais Inválidas">
                            <span v-html="mensagem"></span>
                          </b-popover>
                        </div>
                        <div v-else>
                          <b-button variant="outline-primary" @click="tryLogin">Entrar</b-button>
                        </div>
                        <p class="my-3" style="font-size: 0.9em">Recuperar Conta</p>
                      </b-col>
                    </b-row>
                  </div>
                </b-tab>

                <!-- CADASTRO -->
                <b-tab title="Cadastro">
                  <div class="mx-4 login align-itens-center">

                    <b-row>
                      <b-form-group
                        v-for="(field, i) in commonFields"
                        :key="i"
                        :label="field.name"
                        :label-for="field.attribute"
                        class="mx-3"
                      >
                        <div v-if="field.attribute == 'data_nascimento'">
                          <b-form-input
                            size="sm"
                            id="field.attribute"
                            v-model="cadastro[field.attribute]"
                            type="date"
                            sm="6"
                            md="2"
                          ></b-form-input>
                        </div>
                        <div v-if="field.attribute == 'password'">
                          <b-form-input
                            size="sm"
                            id="field.attribute"
                            v-model="cadastro[field.attribute]"
                            type="password"
                            sm="6"
                            md="2"
                            @change="setPassword"
                          ></b-form-input>
                          <div style="font-size: 0.8em; color:red;" class="error" v-if="!$v.password.minLength">Deve conter no mínimo {{ $v.password.$params.minLength.min }} caracteres.</div>
                          <div style="font-size: 0.8em; color:red;" class="error" v-if="!$v.password.strongPassword">Caracteres maiúsculos, minúsculos e números</div>
                        </div>
                        <div v-if="field.attribute == 'check_password' ">
                          <b-form-input
                            size="sm"
                            id="field.attribute"
                            v-model="cadastro[field.attribute]"
                            type="password"
                            sm="6"
                            md="2"
                            xl="3"
                            @change="setCheckPassword"
                          ></b-form-input>
                          <div style="font-size: 0.8em; color:red;" class="error" v-if="!$v.repeatPassword.sameAsPassword">Confirmação não é igual ao password</div>
                        </div>
                        <div v-if="field.attribute == 'cpf'">
                          <b-form-input
                            size="sm"
                            id="field.attribute"
                            v-model="cadastro[field.attribute]"
                            type="text"
                            :placeholder="field.placeholder"
                            sm="6"
                            md="2"
                            v-mask="['###.###.###-##', '##.###.###/####-##']"
                          ></b-form-input>
                        </div>
                        <b-form-input
                          v-if="field.name != 'Data de Nascimento' && field.name != 'Password' && field.name != 'Confirme seu Password' && field.name != 'CPF'"
                          size="sm"
                          id="field.attribute"
                          v-model="cadastro[field.attribute]"
                          type="text"
                          :placeholder="field.placeholder"
                          sm="6"
                          md="2"
                        ></b-form-input>
                        <span v-if="field.hasError" style="font-size: 0.8em; color:red;">{{field.msg}}</span>
                      </b-form-group>
                    </b-row>
                    <b-row class="mt-3">
                      <b-col class="justify-content-center">
                        <b-button variant="outline-primary" v-if="loadingCadastro">
                          <b-spinner small type="grow"></b-spinner>
                          Cadastrando...
                        </b-button>
                        <b-button v-else variant="outline-primary" @click="salvarCadastro">Cadastrar</b-button>
                      </b-col>
                    </b-row>
                  </div>
                </b-tab>
              </b-tabs>
            </b-card>
        </div>
    </b-container>
  </div>

</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>


<script>
import Navbar from '@/components/Navbar.vue';
import CadastroService from "@/services/CadastroService.js";
import LoginService from "@/services/LoginService.js";
import { mapActions } from "vuex";
import { required, sameAs, minLength } from 'vuelidate/lib/validators'


export default {
    name: "Login",
    components: {
      Navbar
    },
    data() {
      return {
        tabIndex: 0,
        password: '',
        repeatPassword: '',
        cadastro: {
          nome: null,
          data_nascimento: null,
          cpf: null,
          email: null,
          password: null,
          check_password: null,
        },
        commonFields: [
          {name: "Nome", attribute: "nome", placeholder: "Digite seu nome", background: null, hasError: false, msg: '', background: ''},
          {name: "Sobrenome", attribute: "sobrenome", placeholder: "Sobrenome", hasError: false, msg: '', background: ''},
          {name: "CPF", attribute: "cpf" , placeholder: "Digite seu CPF", hasError: false, msg: '', background: ''},
          {name: "Data de Nascimento", attribute: "data_nascimento", placeholder: "Informe sua data de nascimento", hasError: false, msg: '', background: ''},
          {name: "E-mail", attribute: "email", placeholder: "Digite seu e-mail", hasError: false, msg: '', background: ''},
          {name: "Password", attribute: "password", placeholder: "Digite sua password", hasError: false, msg: '', background: ''},
          {name: "Confirme seu Password", attribute: "check_password", placeholder: "Confirme seu password", hasError: false, msg: '', background: ''},
        ],
        emailLogin: '',
        passwordLogin: '',
        errors: null,
        loadingCadastro: false,
        loading: false,
        mensagem: '',
      }
    },
    validations: {
      password: {
        required,
        minLength: minLength(6),
        strongPassword(password){
          return (/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(password))
        }
      },
      repeatPassword: {
        sameAsPassword: sameAs('password')
      }
    },
    methods: {
      ...mapActions("notification", { notificate: "add" }),
      salvarCadastro() {
        this.loadingCadastro = true;
        let data = JSON.parse(JSON.stringify(this.cadastro));

        CadastroService
          .create(this.cadastro)
          .then(res => {
              if(res.data.errors) {
                this.tab = true;
                let campoCommonField;
                let existe;
                  this.errors = res.data.errors;
                  Object.keys(this.commonFields).forEach(k => {
                    existe = false;
                    Object.keys(this.errors).forEach(e => {
                        if (this.commonFields[k].attribute == e) {
                            existe = true;
                            this.commonFields[k].hasError = true;
                            this.commonFields[k].msg = this.errors[e][0];
                            this.commonFields[k].background = 'red';
                        }
                    })
                    if(!existe) {
                      this.commonFields[k].hasError = false;
                      this.commonFields[k].msg = '';
                      this.commonFields[k].background = '';
                    }
                  })
                  this.loadingCadastro = false;
                  return false;
              }
              this.loadingCadastro = false;
              this.emailLogin = this.cadastro.email;
              this.tabIndex = 0;
              return true;
          })
          .catch(err => {
            this.loadingCadastro = false;
          });
      },
      tryLogin() {

        if (this.loading) return;

        this.loading = true;

        LoginService
          .authenticate(this.emailLogin, this.passwordLogin)
          .then(res => {
            if (res.data.errors) {
              this.mensagem = res.data.errors.join("<br>");
            }
            else {
              localStorage.apiToken = res.data.token;
              this.$router.push({ name: "account" });
            }
          })
          .catch(err => {
            this.mensagem =
              "Ocorreu um desconhecido ao fazer o login\n" + err.message;
          })
          .finally(() => {
            this.loading = false;
          });
      },
      setPassword() {
        this.password = this.cadastro.password
        // this.$v.name.$touch()
      },
      setCheckPassword() {
        this.repeatPassword = this.cadastro.check_password
      }
    },
  };
</script>
