<template>
<div>
 <b-container fluid class="d-flex mt-1">
  <b-col class="filters" cols="3">
   <b-card no-body header="Filtros" class="text-center m-auto">
    <b-card-body>
     <b-card-title style="font-size: 1.3em">Cores</b-card-title>
     <b-card-text>
      <span class="mr-1"><i class="fas fa-stop" style="color: red;"></i></span>
      <span class="mr-1"><i class="fas fa-stop" style="color: red;"></i></span>
     </b-card-text>
     <b-card-text>
      <b-card-title style="font-size: 1.3em">Tamanhos</b-card-title>
      <b-avatar button variant="light" text="P" size="2em" class="m-1"></b-avatar>
      <b-avatar button variant="light" text="M" size="2em" class="m-1"></b-avatar>
      <b-avatar button variant="light" text="G" size="2em" class="m-1"></b-avatar>
      <b-avatar button variant="light" text="GG" size="2em" class="m-1"></b-avatar>
     </b-card-text>
    </b-card-body>
   </b-card>
  </b-col>
  <b-row class="d-flex w-100">
   <b-col>
    <b-card no-body class="d-flex products text-center mx-2 m-auto" style="color:black">
     <b-tabs card>
      <b-tab title="Produtos" active>
       <b-button class="bg-primary d-flex justify-content-left" @click="modalProduto = !modalProduto">
        <i class="fas fa-plus"></i>
       </b-button>
      </b-tab>
     </b-tabs>

     <b-row class="m-2 justify-content-left" cols="2" cols-sm="2" cols-md="4" cols-lg="4">
      <b-card tag="article" style="max-width: 14rem;" class="ml-2">
       <b-card-img :src="require('../assets/images/cmb-simples.png')" alt="Image" class="rounded-0" style="max-height: 11em;"></b-card-img>
       <b-card-text class="m-auto">
        <span style="font-size: .9em">Camisa masculina</span>
       </b-card-text>
       <b-card-text class="m-auto">
        <span class="mr-2"><i class="fas fa-stop" style="color: red;"></i></span>
        <span class="mr-1"><i class="fas fa-stop" style="color: red;"></i></span>
       </b-card-text>
       <b-card-text>
        <b-avatar button variant="light" text="P" size="1.6em" class="m-0 mr-2"></b-avatar>
        <b-avatar button variant="light" text="M" size="1.6em" class="m-0 mr-2"></b-avatar>
        <b-avatar button variant="light" text="G" size="1.6em" class="m-0 mr-2"></b-avatar>
        <b-avatar button variant="light" text="GG" size="1.6em" class="m-0 mr-2"></b-avatar>
        <b-avatar button variant="light" text="XGG" size="1.6em" class="m-0 mr-2"></b-avatar>
       </b-card-text>

       <b-button href="#" variant="secondary">Detalhes</b-button>
      </b-card>
     </b-row>
    </b-card>
   </b-col>
  </b-row>
 </b-container>
 <b-modal size="xl" v-model="modalProduto" title="Cadastro Produto">
   <div class="my-0">
      <b-form-group
        v-for="(field, i) in commonFields"
        :key="i"
        :label="field.name"
        :label-for="field.attribute"
        class="mx-1">
        <b-form-input
          size="sm"
          id="field.attribute"
          v-model="cadastro[field.attribute]"
          type="text"
          :placeholder="field.placeholder"
          sm="2"
          md="8"
        ></b-form-input>
     </b-form-group>
   </div>
   <div class="">

   </div>
 </b-modal>
</div>
</template>

<script>
export default {
 name: "Produtos",
 data() {
  return {
   modalProduto: false,
   cadastro: {
     nome: null,
     tamanho: null,
     cor: null,
     primeira_imagem: null,
     segunda_imagem: null,
     modelo: null,
     categoria: null,
     tecido: null,
     marca: null,
     descricao: null,
     data_inativação: null
   },
   commonFields: [
       {name: "Nome", attribute: "nome", placeholder: "Nome do produto", hasError: false, msg: '', background: ''},
       {name: "Tamanho", attribute: "tamanho", placeholder: "Tamanho do produto", hasError: false, msg: '', background: ''},
       {name: "Cor", attribute: "cor", placeholder: "Cor do produto", hasError: false, msg: '', background: ''},
       {name: "Primeira imagem", attribute: "primeira_imagem", placeholder: "Imagem do produto", hasError: false, msg: '', background: ''},
       {name: "Segunda imagem", attribute: "segunda_imagem", placeholder: "Imagem do produto", hasError: false, msg: '', background: ''},
       {name: "Modelo", attribute: "modelo", placeholder: "Modelo do produto", hasError: false, msg: '', background: ''},
       {name: "Categoria", attribute: "categoria", placeholder: "Categoria do produto", hasError: false, msg: '', background: ''},
       {name: "Tecido", attribute: "tecido", placeholder: "Tecido do produto", hasError: false, msg: '', background: ''},
       {name: "Marca", attribute: "marca", placeholder: "Marca do produto", hasError: false, msg: '', background: ''},
       {name: "Descrição", attribute: "descricao", placeholder: "Descrição", hasError: false, msg: '', background: ''},
       {name: "Data inativação", attribute: "data_inativação", placeholder: "Data inativação", hasError: false, msg: '',background: ''},
   ]
  };
 },
 methods: {
  say: function(message) {
   alert(message)
  }
 }
}
</script>

<style lang="css" scoped>
</style>
