<template>
  <div>
    <Navbar/>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import usuarioService from "@/services/UsuarioService.js";
import Navbar from '@/components/Navbar.vue';


export default {
  name: "Usuario",
  data() {
    return {
      loading: true
    };
  },
  components: {
    Navbar
  },
  methods: {
    validateAdmin() {
      usuarioService
        .getCurrentUsuario()
        .then(() => {
          this.loading = false;
        })
        .catch(err => {
          if (err.response.status == 401) {
            this.$router.push({ name: "login" });
          }
        });
    }
  }
};
</script>

<style lang="css" scoped>
</style>
