<template>
  <div>
    <b-row class="justify-content-between m-3" cols="1" cols-sm="2" cols-md="3" target="nav-collapse">
          <b-col class="mb-4">
            <b-card
              header="CONTATO"
              header-tag="header"
            >
              <b-card-text><i class="fab fa-facebook mx-0"></i><a href="https://www.facebook.com/TorkSHOP"> Facebook.com/TorkSHOP</a></b-card-text>
              <b-card-text><i class="fab fa-instagram mx-0"></i><a href="https://www.instagram.com/TorkSHOP"> Instagram.com/TorkSHOP</a></b-card-text>
              <b-card-text><i class="fab fa-whatsapp mx-0"></i><a href="https://www.instagram.com/TorkSHOP"> (47) 9 9600-9164</a></b-card-text>
            </b-card>
          </b-col>
          <b-col class="mb-4">
            <b-card header-tag="header" header="Formas de pagamentos" class="h-100">
                  <b-card-text>
                  <p class="card-text">Em até 8 vezes sem juros</p>
                  <i class="fab fa-cc-paypal m-2"></i>
                  <i class="fab fa-cc-mastercard m-2"></i>
                  <i class="fab fa-cc-visa m-2"></i>
                </b-card-text>
            </b-card>
          </b-col>
          <b-col class="mb-4">
            <b-card header-tag="header" header="Frete Grátis" class="h-100">
                  <b-card-text>Para compras acima de R$199,00</b-card-text>
            </b-card>
          </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Informações",
}
</script>
