<template>
    <div>
      <b-navbar toggleable="lg" type="dark" variant="success" class="bg-dark">
        <b-container>
            <b-navbar-brand to="/">TorkShop</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              <!-- Right aligned nav items -->
              <b-navbar-nav class="ml-auto">
                <b-nav-item>News
                </b-nav-item>
                <b-nav-item-dropdown bottom>
                  <!-- Using 'button-content' slot -->
                  <template slot="button-content">Masculino</template>
                  <b-dropdown-item href="#">Camisa</b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item href="#" disabled>Moletons</b-dropdown-item>
                </b-nav-item-dropdown>
                  <b-nav-item-dropdown right>
                   <!-- Using 'button-content' slot -->
                   <template v-slot:button-content>
                     <i class="fa fa-user" aria-hidden="true"></i>,<span class="m-2">Login</span>
                   </template>
                   <b-dropdown-item href="/login">Login</b-dropdown-item>
                   <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                 </b-nav-item-dropdown>
              </b-navbar-nav>
            </b-collapse>
          </b-container>
      </b-navbar>
    </div>
</template>
<script>
export default {
  name: "Navbar",
    data() {
        return {
        }
    },
  methods: {}
}
</script>
